

body{
    text-align: center;
    margin: 0px;
    padding: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-flow-smoothing: antialiased ;    
}

#header{
    height: 120px;
    width: 100%;
    border: 1px solid black;
    background:white;
    border-bottom: 1px solid #ccc;
    border-top: 3px solid #ff1b1b;
}

.center{
    width: 75%;
    margin: 0px auto;
}

.clearfix{
    clear: both;
    float: none;
}
#logo{
    width: 30%;
    font-size: 30px;
    float: left;
    margin-top: 35px;
}

#logo img{
    display: block;
    float: left;
    height: 60px;
    margin-top: -10px;
    margin-right: 10px;
    animation: girar infinite 5s linear;
}

@keyframes girar{
    from{
        transform: rotate(0deg);
    }
    to{
       transform: rotate(360deg);
    }
}

#brand{
    display: block;
    margin: 0px;
    float: left;
}

#menu{
    width: 70%;
    float: right;
    font-size: 18px;

}

#menu ul{
    line-height: 85px;
    width: 60%;
    float: right;
    height: 6px;
}

#menu ul li{
    display: inline-block;
    list-style: none;
    margin-right: 15px;
    margin-left: 15px;
    
}

#menu a{
    text-decoration: none;
    color: #444;
    transition: 300ms all;
}

#menu a:hover{
    color: #ff1b1b !important;
}

#menu a.active{
    color: #ff1b1b !important;
}

#slider{
    width: 100%;
    height: 350px;
    
    color: white;
    text-shadow: 0px 0px 5px #444;
    /*DEGRADADO*/
    background: rgba(248,80,50,1);
    background: -moz-linear-gradient(-45deg, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 35%, rgba(240,47,23,1) 81%, rgba(246,41,12,1) 85%, rgba(231,56,39,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(248,80,50,1)), color-stop(35%, rgba(241,111,92,1)), color-stop(81%, rgba(240,47,23,1)), color-stop(85%, rgba(246,41,12,1)), color-stop(100%, rgba(231,56,39,1)));
    background: -webkit-linear-gradient(-45deg, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 35%, rgba(240,47,23,1) 81%, rgba(246,41,12,1) 85%, rgba(231,56,39,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 35%, rgba(240,47,23,1) 81%, rgba(246,41,12,1) 85%, rgba(231,56,39,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 35%, rgba(240,47,23,1) 81%, rgba(246,41,12,1) 85%, rgba(231,56,39,1) 100%);
    background: linear-gradient(135deg, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 35%, rgba(240,47,23,1) 81%, rgba(246,41,12,1) 85%, rgba(231,56,39,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827', GradientType=1 );
}



#slider h1{
    margin-top: 0.2px;
    padding: 0px;
    text-align: center;
    padding-top: 130px;

}

.btn-white{
    display: block;
    background: white;
    color: black;
    padding: 10px;
    width: 95px;
    height: 35px;
    margin: 0px auto;
    font-size: 18px;
    text-transform: uppercase;
    text-shadow: none;
    text-decoration: none;
    line-height: 35px;
    box-shadow: 0 0 5px grey;
    margin-top: 40px;
    border-radius: 4px;
}

.btn-white:hover{
    background-color: #444;
    color: white;
    transition: 300ms all;
}

#slider.slider-small{
    height: 150px;
}

#slider.slider-small h1{
    margin-top: 0.2px;
    padding: 0px;
    text-align: center;
    padding-top: 53px;
}


#content{
    width: 70%;
    float: left;
  
    min-height: 650px;
    margin-right: 20px;
  
}

#sidebar{
    width: 25%;
    float: left;
    
}

.sidebar-item{
    background: #f7f7f7;
    padding: 20px;
    margin-top: 30px ;
}

.sidebar-item h3{
    text-transform: uppercase;
    font-size: 17px;
    margin: 0px;
    padding-bottom: 10px;
    border-bottom: 3px solid black;
    margin-bottom: 10px;
}

.sidebar-item .btn{
    margin-top: 10px;
    margin: 0 auto;

}

.btn{
    display: block;
    background: black;
    color: white;
    padding: 15px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 10px;
    font-size: 12px;
    text-decoration: none;
    max-width: 120px;
    transition: 300ms all;
    border:none;
    cursor: pointer;
    text-align: center;

}

.btn-success{
    background:rgb(60, 212, 23);
}
.btn-success:hover{
    background:black;
}

.btn-warning{
    background:rgb(241, 199, 8);
    color: white !important;
    text-decoration: none;
}

.btn-danger{
    background:rgb(241, 74, 8);
    color: white !important;
    text-decoration: none;
}

.btn-danger:hover,
.btn-warning:hover{
    transition: all 300ms;
    opacity: 0.8;
}

.buttons {
    margin-top: 10px;
}


.mid-form{
    width: 50%;
    margin: 0px auto;
}

.mid-form label{
    display: block;
    float: left;
    text-align:left;
    margin-bottom: 5px;
    font-size: 17px;
    margin-top: 10px;
}

input[type="text"],
textarea{
    width: 100%;
    height: 30px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    transition: 300ms all;
}
input[type="text"]:focus{
    box-shadow: 0px 0px 5px #ccc inset;
}

textarea{
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 150px;
    max-height: 150px;
    min-height: 150px;
}

.radiobutton{
    display: block;
    margin-top: 15px;
    float: left;
    margin-bottom: 20px;
}


#footer{
    float: bottom;
    background:#f7f7f7;
    width: 100%;
    height: 70px;
    line-height: 70px;
    color: #444;
    
}

#footer p{
    margin:0px;
    padding: 0px;
}

.article-item{
    width: 100%;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: left;
}

.article-item .image-wrap{
    width: 130px;
    height: 130px;
    overflow: hidden;
    float: left;
    margin-right: 15px;
    border-bottom: 1px solid #ccc;
}

.article-item .image-wrap img{
    height: 100%;
    text-align: center;
}

.article-item h2{
    display: block;
    width: 100%;
    padding:0;
    margin: 0;
    margin-bottom: 7px;

}

.article-item .date{
display: block;
width: 100%;
color: rgb(121, 120, 120);
}

.article-item a{
    display: block;
    color: #444;
    text-decoration: none;
    margin-top: 10px;
}

.article-item a:hover{
    text-decoration: underline;

}

.image-thumb img{
    width: 150px;
    display: block;
    float: left;
    padding: 10px;
}

.subheader{
    font-size: 38px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

.article-detail .image-wrap{
    float:none;
    width: 100%;
    height: ;

}

.article-detail .image-wrap img{
   width: 100%;

}

.article-detail .subheader{
    text-align: left;
    margin-bottom: 0px;
 }

 .article-detail .date{
    text-align: left;
    float: left;
    margin-bottom: 15px;
 }
 
 .year-green{
     color:green;
    
 }

 .year-red{
    color:red;
    
}
/* RESPONSIVE*/

@media (max-width:1488px){
    .center{
        width: 85%;
    }
    #menu ul{
        width: auto;
    }
}

@media (max-width:967px){
    .center{
        width: 95%;
    }
}

@media (max-width:797px){
   #logo{
       float: none;
       width: 240px;
       margin: 0px auto;
       margin-top: 20px;

   }
   #menu,
   #menu ul{
    width: auto;
    clear: both;
    float: none;
    width: 100%;
    margin:0px auto;
    padding: 0px;
    line-height: 43px;
    }

    #content{
        float: none;
        width: 100%;
    }

    #sidebar{
        float: none;
        width: 60%;
        margin:0px auto;
        margin-bottom: 50px;
    }

    #slider h1{
        padding-top: 110px;
        font-size: 25px;
    }

    .mid-form{
        width: 80%;
    }
}

@media (max-width:497px){
    #header{
        min-height: 100px;
        overflow: hidden;
    }

    #menu,
    #menu ul{
        line-height: 50px;
    }
    #menu ul li{
        margin:0 7px 0 7px;
    }

    #slider{
        height: 180px;
    }
    #slider h1{
        font-size: 19px;
        padding-top: 30px;
    }
    
    #slider .btn-white{
        margin-top: 20px;

    }
    #slider.slider-small{
        height: 100px;
    }
    #slider.slider-small h1{
        padding-top: 35px;
    }
}